#   -------------------------------   MOVIE  RECOMENDING SYSTEM   ----------------------------

# Data Processing

In [1]:
import numpy as np
import pandas as pd

In [2]:
#importing the datas 

movies = pd.read_csv('tmdb_5000_movies.csv')
cred = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
cred.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
#marging the two dataframes

movies = movies.merge(cred,on='title')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
movies.shape  #checking the shape of dataframe

(4809, 23)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [8]:
movies = movies[['id','title','release_date','genres','keywords','overview','cast','crew']] #filtered the importent coloums

In [9]:
movies.head(1)

,id,title,release_date,genres,keywords,overview,cast,crew
0,19995,Avatar,2009-12-10,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
movies.isnull().sum() #checking null movies

id              0
title           0
release_date    1
genres          0
keywords        0
overview        3
cast            0
crew            0
dtype: int64

In [11]:
movies = movies.dropna() #removing null movies

In [12]:
movies.shape

(4805, 8)

In [13]:
df = movies.reset_index()

In [14]:
df.isnull().sum()

index           0
id              0
title           0
release_date    0
genres          0
keywords        0
overview        0
cast            0
crew            0
dtype: int64

In [15]:
df.duplicated().sum() #checking duplicate movies

0

In [16]:
#setting new index

### Working with the date of release coloumn

In [17]:
movies['release_date'] = pd.to_datetime ( movies['release_date'], format = '%Y-%m-%d')

In [18]:
movies['year'] = movies['release_date'].dt.year

In [19]:
movies.head(1)

,id,title,release_date,genres,keywords,overview,cast,crew,year
0,19995,Avatar,2009-12-10,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009

In [20]:
def era(year):
    if year < 1950:
        return 'veryveryold'
    elif year < 1970:
        return 'veryold'
    elif year < 1980:
        return 'old'
    elif year < 1990:
        return 'mid'
    elif year < 2000:
        return 'new'
    elif year <  2010:
        return 'verynew'
    else:
        return 'veryverynew'

In [21]:
movies['type'] = movies['year'].apply(era)

In [22]:
movies.head(1)

,id,title,release_date,genres,keywords,overview,cast,crew,year,type
0,19995,Avatar,2009-12-10,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009,verynew

In [23]:
movies = movies[['id','title','type','genres','keywords','overview','cast','crew']]

In [24]:
movies.head()

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,verynew,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,verynew,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,veryverynew,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,veryverynew,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,veryverynew,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Working with gener coloumn

In [25]:
#checking the format of Gener coloumn
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [26]:
#now we have to code a helper function to take gener and return the words of gener only.

In [27]:
#we have to convert the string of( list of (dictionaries)) to list of (dictionaries)  as my converter function kan take list as input not string.
#this can be done using the function literal_eval() from ast module of python
import ast
ast.literal_eval(movies.iloc[0].genres)

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [28]:
#coding the helper function
def convert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [29]:
movies['genres'].apply(convert) #checking the out put

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4805, dtype: object

In [30]:
movies['genres'] = movies['genres'].apply(convert) #storing the out put

### Working with the keywords coloumn

In [31]:
#same as genres coloumn

In [32]:
movies['keywords'] = movies['keywords'].apply(convert)

In [33]:
movies.head(1)

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,verynew,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### Working with Overview coloumn

In [34]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [35]:
movies.head(2)

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,verynew,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,verynew,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

### Working with the cast coloumn

In [36]:
#coding the helper function
def convert_cast(obj):
    l=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 5:
            l.append(i['name'])
            counter = counter + 1
        else:
            break
    return l

In [37]:
movies['cast']= movies['cast'].apply(convert_cast)

In [38]:
#checking the convirsion
movies.head(1)

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,verynew,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### Working with the crew coloumn

In [39]:
#coding the helper function
def convert_crew(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [40]:
movies['crew']= movies['crew'].apply(convert_crew)

In [41]:
#checking the convirsion
movies.head(2)

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,verynew,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,verynew,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]

### Removing White space

In [42]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [43]:
movies.head(2)

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,verynew,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,verynew,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

### Converting Type column from string to list

In [44]:
movies['type'] = movies['type'].apply(lambda x: [x])

In [45]:
movies.head(2)

,id,title,type,genres,keywords,overview,cast,crew
0,19995,Avatar,[verynew],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,[verynew],"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

### Adding Tags Coloumn

In [46]:
 movies['tags'] = movies['type'] + movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] + movies['crew']

In [47]:
movies.head(2)

,id,title,type,genres,keywords,overview,cast,crew,tags
0,19995,Avatar,[verynew],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[verynew, Action, Adventure, Fantasy, ScienceF..."
1,285,Pirates of the Caribbean: At World's End,[verynew],"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[verynew, Adventure, Fantasy, Action, ocean, d..."

### Forming new data frame

In [48]:
 df = movies[['id' , 'title' , 'tags']]

In [49]:
df.head(2)

,id,title,tags
0,19995,Avatar,"[verynew, Action, Adventure, Fantasy, ScienceF..."
1,285,Pirates of the Caribbean: At World's End,"[verynew, Adventure, Fantasy, Action, ocean, d..."

In [50]:
# joining all the lists as string with space in between
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

C:\Users\SAMPRIT SAHA\AppData\Local\Temp\ipykernel_14000\2021553470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x:" ".join(x))

In [51]:
df.head(2)

,id,title,tags
0,19995,Avatar,verynew Action Adventure Fantasy ScienceFictio...
1,285,Pirates of the Caribbean: At World's End,verynew Adventure Fantasy Action ocean drugabu...

In [52]:
# data preprocessing is done

# Model Building

#### I will be using Text Vectorisation using Bag of Words technique

## Stemming words ----> eg- actions to ction....

In [53]:
import nltk

In [54]:
from nltk.stem.porter import PorterStemmer

In [55]:
ps = PorterStemmer()

In [56]:
#making function to stem
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return" ".join(y)

In [57]:
df['tags'] = df['tags'].apply(stem)

C:\Users\SAMPRIT SAHA\AppData\Local\Temp\ipykernel_14000\866399325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stem)

In [58]:
from sklearn.feature_extraction.text import CountVectorizer

In [59]:
cv = CountVectorizer(max_features=5000,stop_words='english') # taking 5000 most used words

In [60]:
vector = cv.fit_transform(df['tags']).toarray() #converting the default output of CountVectoriser to numpy array

In [61]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
vector.shape

(4805, 5000)

In [63]:
#checkint the words selected within the top 5000
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

#### I am using Cosine distance instade of euclidian distance as the dimentionality of data is very heigh

In [64]:
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
similarity = cosine_similarity(vector) #calculating simiarity of all movie with other

In [66]:
similarity

array([[1.        , 0.10259784, 0.08257228, ..., 0.0438529 , 0.        ,
        0.02383656],
       [0.10259784, 1.        , 0.05647825, ..., 0.02249606, 0.        ,
        0.0489116 ],
       [0.08257228, 0.05647825, 1.        , ..., 0.04828045, 0.02566635,
        0.        ],
       ...,
       [0.0438529 , 0.02249606, 0.04828045, ..., 1.        , 0.06133956,
        0.0418121 ],
       [0.        , 0.        , 0.02566635, ..., 0.06133956, 1.        ,
        0.08891084],
       [0.02383656, 0.0489116 , 0.        , ..., 0.0418121 , 0.08891084,
        1.        ]])

In [67]:
#function to recomend most similar 10 movies
def recommend(movie):
    print(f"As you liked {movie}, you can also watch:")
    index = df[df['title'] == movie].index[0]          # finding the index of the Movie viewer watched
    distances = similarity[index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x:x[1])[1:11]
    i = 1
    for j in movie_list:
        print(f"{i}. {df.iloc[j[0]].title}")
        i = i + 1

In [68]:
#chcking 
recommend('Avatar')

As you liked Avatar, you can also watch:
1. Aliens vs Predator: Requiem
2. Titan A.E.
3. Aliens
4. Independence Day
5. Falcon Rising
6. Meet Dave
7. The Helix... Loaded
8. Battle: Los Angeles
9. Jupiter Ascending
10. Beowulf